.gradient-text {
  background-color: #dc5b51;
  background-image: linear-gradient(
    40deg,
    #fcb900 16.666%,
    #d8a008 16.666%,
    #ffca38 33.333%,
    #b88c13 33.333%,
    #3f3b2e 50%,
    #fcb900 50%,
    #423719 66.666%,
    #fcb900 66.666%,
    #fcb900 83.333%,
    #fcb900 83.333%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-animation-r 0.75s ease forwards;
}

.gradient-text:hover {
  animation: text-animation 0.5s ease-in forwards;
}

@keyframes text-animation-r {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes text-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

.center {
  margin-top: calc(70vh - 3em);
}

.text-h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 6em;
  text-align: center;
  margin-bottom: -0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 100%;
  max-width: 605px;
}

.text-h2 {
  margin-top: 3%;
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  margin-bottom: -0.25em;
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 100%;
  max-width: 605px;
}

.text-h2:visited {
  text-decoration: none;
  color: black;
}

/* Responsive Styles */

@media only screen and (max-width: 480px) {
  .text-h1 {
    font-size: 4em;
    max-width: 100%;
  }

  .text-h2 {
    font-size: 0.9em;
    max-width: 100%;
  }
}
