* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.about-us {
  height: 110vh;
  width: 100%;
  padding-top: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../Assets/transparent\ connected\ dots\ background\ -\ Google\ Search_auto_x2.jpg");
}
.text {
  width: calc(100% - 250px);
  margin-top: 100px;
}

.text h2 {
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text h5 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.aboutspan {
  color: rgb(255, 0, 43);
}

.text p {
  font-family: "Jost", "Helvetica Neue", Arial, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 550;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 2px;
}
.about img {
  width: 150px;
}
.about {
  position: relative;
  right: 340px;
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.data {
  margin-top: 30px;
}

.aboutbutton {
  font-size: 18px;
  background: #000000;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.7s;
}

.aboutbutton:hover {
  background: #2589e8;
  border: none;
}

@media only screen and (max-width: 767px) {
  .about {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15vh;
    margin-top: -8vh;
    right: 0;
  }

  .about-us {
    height: auto;
    min-height: 100vh;
    background-position: bottom;
  }

  .text {
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }

  .text h2 {
    font-size: 4rem;
    margin-bottom: 20px;
  }

  .text h5 {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }

  .text p {
    font-weight: 550;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .aboutbutton {
    font-size: 1rem;
    padding: 0.8em 2em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1600px) {
  .about {
    right: 60px; /* Adjust the right offset value as needed */
    margin-right: 0; /* Reset the right margin */
  }

  /* Rest of the styles... */
}
